# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
example-audioInput/.vs/example-audioInput/v15/.suo
example-audioInput/.vs/example-audioInput/v15/Browse.VC.db
example-audioInput/.vs/example-audioInput/v15/Browse.VC.opendb
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/4cb7e558df964729/SRC_SINC.ipch
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/9616ac058270193f/SAMPLERATE.ipch
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/b33d9c80602008db/SRC_ZOH.ipch
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/be0ccf0acf273780/BTRACK.ipch
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/f848d19de8a2d7e3/SRC_LINEAR.ipch
example-audioInput/.vs/example-audioInput/v15/Solution.VC.db
example-audioInput/.vs/example-audioInput/v15/Solution.VC.db-shm
example-audioInput/.vs/example-audioInput/v15/Solution.VC.db-wal
example-audioInput/example-audioInput.sln
example-audioInput/example-audioInput.vcxproj
example-audioInput/example-audioInput.vcxproj.filters
example-audioInput/example-audioInput.vcxproj.user
example-audioInput/icon.rc
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/CL.1036.write.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/CL.command.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/CL.read.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/example-audioInput.lastbuildstate
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/unsuccessfulbuild
example-audioInput/obj/Win32/Debug/example-audioInput.log
example-audioInput/obj/Win32/Debug/vc141.pdb
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/364d8ee779a65060/MAIN.ipch
example-audioInput/.vs/example-audioInput/v15/ipch/AutoPCH/b6a00474e8beef1b/OFAPP.ipch
example-audioInput/bin/data/fonts/telegrama_render.otf
example-audioInput/bin/example-audioInput_debug.exp
example-audioInput/bin/example-audioInput_debug.ilk
example-audioInput/bin/example-audioInput_debug.pdb
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/CL.write.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/example-audioInput.write.1u.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/link.command.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/link.read.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/link.write.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/rc.command.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/rc.read.1.tlog
example-audioInput/obj/Win32/Debug/example-.7FD42DF7.tlog/rc.write.1.tlog
example-audioInput/obj/Win32/Debug/icon.res
